aside
  nav
    ul.list-group
      li.sidebar-heading
        | Admin Page 
      li
        a.list-group-item(href="/admin") Add Product
      li
        a.list-group-item(href="/admin/carousel") Add Carousel
      li
        a.list-group-item(href="/admin/product") Products
      li
        a.list-group-item(href="/admin/community") Community
      li
        a.list-group-item(href="/admin/users") Users
      li
        a.list-group-item(href="/admin/admins") Admins  