aside
  nav
    ul.list-group
      li.sidebar-heading
        | Admin Page 
      li
        a.list-group-item(href="/admin") Add Product
      li
        a.list-group-item(href="/admin/insta") Add Instagram Product  
      li
        a.list-group-item(href="/admin/background") Add Page Background 
      li
        a.list-group-item(href="/admin/carousel") Add Carousel
      if products
        li
          a.list-group-item(href="/admin/product").d-flex.justify-content-between.align-items-center Products
            span(style="background:blue; padding:1px 10px;margin-left:10px; border-radius:3px; color:white;") #{products.length}
      else
        li
          a.list-group-item(href="/admin/product") Products
      li
        a.list-group-item(href="/admin/community") Community
      if product
        li
          a.list-group-item(href="/admin/clients").d-flex.justify-content-between.align-items-center Customers 
            span(style="background:blue; padding:1px 10px;margin-left:10px;border-radius:3px; color:white;") #{product.length}
      else
         li
          a.list-group-item(href="/admin/clients") Customers   
      li
        a.list-group-item(href="/admin/admins") Admins  